<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

      <div class="text-left">
        <h3>
          Attending: <%=@count%> guest<%="s" if @count > 1 %>
        </h3>
        <table class="table table-hover">
          <col width="200">
          <col width="200">
          <col width="200">
          <tr>
            <th>Guest Name</th>
            <th>Guest Gender</th>
            <th>Guest Interest</th>
          </tr>
          <ul>
          <% @event.users.each do |user| %>
            <tr>
              <td>
                <li>
                  <%= link_to user.to_s, user_path(user)%>
                </li>
              </td>
              <td><%=user.gender%></td>
              <td>  <% if user.genderqueer == true %>
                <%= "non-binary"  %>
                <% end %>

                <% if user.men == true %>
                <%= "men"  %>
                <% end %>

                  <% if user.women == true %>
                  <%= "women"  %>
                  <% end %>
              </td>
            </tr>
            <% end %>
          </ul>
        </table>
      </div>

  </div>
  <div class="col-md-2"></div>
</div>
