<div class="jumbotron">
  <h1>Welcome to SpeeDatr</h1>
</div>

<table class="table table-hover">
  <col width="200">
  <col width="200">
  <col width="200">
  <tr>
    <th>Event Name</th>
    <th>Event Date</th>
    <th>Category</th>
    <th>Image</th>
    <th>Description</th>
  </tr>
  <% @events.each do |event| %>
  <div class="">
    <tr>
      <td><br><br><%= link_to event.name, event_path(event) %></td>

      <td>
        <br><br>
      <%= event.date.strftime("%m/%d/%y") %>
      <br>
      <%= event.date.strftime("%I:%M %p") %>
       </td>

      <td><br><br><%= event.category  %> </td>

      <td><img src="<%= event.image_url %>" alt="event image" width="250"></td>

      <td><br><%= event.description %></td>

    </tr>
  </div>

  <% end %>
</table>
