<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    <div class="well">
      <section class="feature_article">
        <div class="image_wrapper aspect-ratio-16-9">
          <img src="<%= @event.image_url %>"  width="500px" class="center-block">
        </div>

        <div class = "text-center">
        <h1><%= @event.name %></h1>
        <p><%= @event.location %></p>
        <p><%= @event.date.strftime("%A %B #{@event.date.day.ordinalize}, %Y at %I:%M %p") %></p>
        <p><%= @event.category %></p>
        <p><%= @event.description %></p>
        <%= render "attend" %>
      </div>
      </section>
    </div>
  </div>
  <div class="col-md-2">

  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="text-right">
    <% if current_user.admin || @event.host_id == current_user.id %>
      <%= link_to "Edit Event", edit_event_path(@event), class:"btn btn-warning btn-md" %>
    <% end %>
    </div>
  </div>

  <div class="col-md-2">
    <div class="text-center">
    <%= link_to "All Events", events_path, class:"btn btn-info btn-md" %>
    </div>
  </div>

  <div class="col-md-5">
    <div class="text-left">
      <% if current_user.admin || @event.host_id == current_user.id %>
          <%= link_to "Delete Event", delete_event_path(@event), method: :delete, class:"btn btn-danger btn-md", data: {confirm: 'Are you sure?'} %>
      <% end %>
    </div>
  </div>
</div>

<br>

<%= render "who" %>
